{% extends "admin/layout.html" %} {% block content %}
<style>
  .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
  }

  #data-file-doc.dataTable.nowrap th,
  #data-file-doc.dataTable.nowrap td {
    white-space: normal !important;
  }
  
  .form-group {
    padding: 20px 0 0;
  }
</style>
<input type="hidden" id="isRole" value="{{role}}" />
<input type="hidden" id="iskat" />
<div class="page-content">
  <input hidden id="userid" value="{{userid}}" />
  <input hidden id="role" value="{{role}}" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body">
            
            {% if role == 0 %}
            <div id="permohonan-slo-page">
              <div class="row">
                <div class="col-12">
                  <div class="page-title-box d-sm-flex align-items-center justify-content-between" style="padding-top: 20px;">
                    <h4 class="mb-sm-0 font-size-18">
                      Permohonan Surat Kelayakan Operasi (SLO)
                    </h4>
                    <div class="page-title-right">
                      <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                          <a href="javascript: void(0);">Permohonan</a>
                        </li>
                        <li class="breadcrumb-item active">
                          Surat Layakan Operasi
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 widget-container-col">
                  <div class="widget-box widget-color-orange">
                    <div class="widget-header">
                      <div class="widget-toolbar no-border">
                        <button id="initambah" class="btn btn-xs btn-info bigger">
                          <i class="ace-icon fa fa-plus"></i>
                          Tambah Permohonan
                        </button>
                      </div>
                    </div>
                    <br/>
                    <div class="widget-body">
                      <div class="widget-main">
                        <input type="hidden" id="idpermohonan" />
                        <input type="hidden" id="initype" />
                        <div class="table-responsive">
                          <table id="permohonan-table" class="table table-striped table-bordered nowrap table-responsive">
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Alamat Kantor</th>
                                <th>No.Telp</th>
                                <th>Email</th>
                                <th>File</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between" style="padding-top: 20px;">
                  <h4 class="mb-sm-0 font-size-18">
                    Permohonan Surat Kelayakan Operasi (SLO)
                  </h4>            
                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Permohonan</a>
                      </li>
                      <li class="breadcrumb-item active">
                        Surat Layakan Operasi
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-orange">
                  <div class="widget-header">
                    <div class="widget-toolbar no-border">
                      
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="widget-main">
                      <div id="permohonan-all">
                        <div class="table-responsive">
                          <table id="all-permohonan" class="table table-striped table-bordered nowrap table-responsive">
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Badan Usaha/Kegiatan</th>
                                <th>Bidang Usaha/Kegiatan</th>
                                <th>NIB</th>
                                <th>No KBLI</th>
                                <th>Penanggung Jawab</th>
                                <th>Jabatan</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                      {% include "admin/menu/permohonan-operasi.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            

            <!-- Modal -->
            <div id="modal_program" class="modal fade" role="dialog" data-backdrop="static"data-keyboard="false">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header bg-success">
                    <h4 class="modal-title">
                      Permohonan Surat Kelayakan Operasi (SLO)
                    </h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" role="form">
                      <input type="hidden" id="ideditpermohonan" />
                      <!-- #section:elements.form -->
                      <!-- <div class="form-group">
                        <label class="col-sm-12 control-label no-padding-right" for="kode_program">
                          Nama Badan Usaha/ Kegiatan
                        </label>
                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="input_1"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          class="col-sm-3 control-label no-padding-right"
                          for="nama_program"
                        >
                          Bidang Usaha/ Kegiatan
                        </label>

                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="input_2"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          class="col-sm-3 control-label no-padding-right"
                          for="nama_program"
                        >
                          Nomor Induk Berusaha
                        </label>

                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="input_3"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          class="col-sm-3 control-label no-padding-right"
                          for="nama_program"
                        >
                          Nama Penanggung Jawab Usaha/ Kegiatan
                        </label>

                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="input_4"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          class="col-sm-3 control-label no-padding-right"
                          for="nama_program"
                        >
                          Jabatan
                        </label>

                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="input_5"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div> -->

                      <div class="form-group">
                        <label class="col-sm-12 control-label no-padding-right" for="nama_program">
                          Alamat Kantor dan Lokasi Usaha/ Kegiatan
                        </label>
                        <div class="col-sm-12">
                          <input type="text" id="input_6" placeholder="" class="form-control" name="form-input"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-6 control-label no-padding-right"for="nama_program">
                          No. Telepon
                        </label>
                        <div class="col-sm-12">
                          <input type="text" id="input_7" placeholder=""class="form-control" onkeypress="return hanyaAngka(event)" maxlength="13" name="form-input"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-6 control-label no-padding-right" for="nama_program">
                          Email
                        </label>
                        <div class="col-sm-12">
                          <input type="text" id="input_8" placeholder="" class="form-control" name="form-input"/>
                        </div>
                      </div>

                      <div class="form-group" id="form-upload-permohonan">
                        <label class="col-sm-6 control-label no-padding-right" for="doc_permohonan">Permohonan <code>*</code></label>
            
                        <div class="col-sm-12">
                          <input type="file" name="id-input-file-5" id="doc_permohonan" accept=".pdf" />
                          <code>File .PDF - Max 5 mb</code>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" id="close_modal_program">
                      <i class="ace-icon fa fa-close"></i>close
                    </button>
                    <button type="button" id="mohon_save" class="btn btn-xs btn-success">
                      <i class="bx bx-check"></i> Simpan
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              id="modal_file"
              class="modal fade"
              role="dialog"
              data-backdrop="static"
              data-keyboard="false"
            >
              <div class="modal-dialog" style="max-width: 1000px;"> 
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header bg-info">
                    <!-- <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      id="close_modal_file"
                    >
                      &times;
                    </button> -->
                    <h4 class="modal-title">
                      <center id="dokumen-unggahan">Dokumen Unggahan</center>
                      <input type="hidden" id="ini-ID" />
                    </h4>
                  </div>
                  <div class="modal-body">
                    {% if role == 0 %}

                    <ul class="nav nav-tabs" id="myTab">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kajian" aria-expanded="true"
                          >Permohonan SLO</a
                        >
                      </li>
                    </ul>
                    <div class="tab-content" style="padding-top: 30px;">
                      <div id="kajian" class="tab-pane active">
                        <div class="form-group row" style="padding-top: 0;">
                          <div class="row" style="padding: 0 0 25px 0">
                            <label
                              class="col-sm-2 control-label no-padding-right"
                              for="nama_program" style="padding: 6px 0 0 23px; width: 200px;"
                            >
                              Dokumen
                            </label>
                            <div class="col-xs-4 col-sm-4" style="width: 295px;">
                              <select
                                class="chosen-select form-control"
                                id="jenis_doc"
                                data-placeholder="Pilih Dokumen ..."
                              ></select>
                            </div>
                            <div
                              class="col-xs-3 col-sm-4"
                            >
                              <input
                                type="file"
                                name="id-input-file-3"
                                id="doc_"
                                class="form-control"
                                accept=".pdf"
                              />
                            </div>
                            <div class="col-xs-2 col-sm-2" style="padding-bottom: 15px">
                                <button
                                disabled
                                type="button"
                                class="btn btn-xs btn-success"
                                id="submit_doc"
                                >
                                  <i class="bx bx-check"></i>Simpan
                                </button>
                            </div>
                          </div>
                        </div>

                        {% endif %}
                          <table
                            id="data-file-doc"
                            class="table table-striped table-bordered nowrap table-responsive"
                          >
                            <thead>
                              <tr>
                                <th>No</th>
                                <!-- <th>BAB</th> -->
                                <th>Dokumen</th>
                                <th>Nama File</th>
                                <th>Status</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Update</th>
                                <th>Keterangan</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                          </table>
                        {% if role == 0 %}
                        <div class="widget-box">
                          <div class="widget-body">
                            <div
                              class="form-group row"
                              id="edit_group"
                              hidden
                              style="padding: 20px 1px 0px 10px"
                            >
                              <label
                                class="col-sm-3 control-label no-padding-right"
                                for=""
                              >
                                <b>Revisi Dokumen</b>
                              </label>

                              <div class="">
                                <input
                                  type="hidden"
                                  id="jenis_edit"
                                  placeholder=""
                                  class="form-control"
                                  disabled
                                />
                                <input type="hidden" id="id_edit" disabled />
                                <input type="hidden" id="path_edit" disabled />
                                <input type="hidden" id="type_edit" disabled />
                              </div>
                              <div class="col-xs-7">
                                <input
                                  type="file"
                                  name="id-input-file-3"
                                  id="edit_file"
                                  accept=".pdf"
                                />
                              </div>
                              <div class="col-xs-2">
                                <button
                                  type="button"
                                  class="btn btn-xs btn-success"
                                  id="submit_edit"
                                >
                                  <i class="ace-icon fa fa-check-square-o"></i
                                  >Submit
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-xs btn-danger"
                      data-dismiss="modal"
                      id="close_modal_file"
                    >
                      <i class="ace-icon fa fa-close"></i>close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              id="modal_file_lapangan"
              class="modal fade"
              role="dialog"
              data-backdrop="static"
              data-keyboard="false"
            >
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header bg-success">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      id="close_modal_file_lapangan"
                    >
                      &times;
                    </button>
                    <h4 class="modal-title">
                      <center>
                        <i class="ace-icon fa fa-file green"></i> Dokumen BA &
                        Pertek
                      </center>
                      <input type="hidden" id="ini-ID-lapangan" />
                    </h4>
                  </div>
                  <div class="modal-body">
                    {% if role == 0 %}

                    <table
                      id="data-file-doc-lapangan"
                      class="table table-striped table-bordered nowrap table-responsive"
                    >
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Keterangan dan Catatan</th>
                          <th>Nama File</th>
                          <th>Tanggal Input</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    </table>

                    {% else %}

                    <div class="widget-main" id="ini-doc-ver-lapangan">
                      <div class="widget-body">
                        <div class="form-group row">
                          <label
                            class="col-sm-3 control-label no-padding-right"
                            for="nama_program"
                          >
                            Dokumen BA & Pertek
                          </label>

                          <div class="col-xs-4">
                            <input
                              type="file"
                              name="id-input-file-5"
                              id="doc_lapangan"
                              accept=".pdf"
                            />
                          </div>

                          <div class="col-xs-3">
                            <input
                              type="text"
                              id="keterangan_lapangan"
                              placeholder="Keterangan dan Catatan"
                              class="col-xs-12"
                            />
                          </div>

                          <div class="col-xs-2">
                            <button
                              disabled
                              type="button"
                              class="btn btn-xs btn-success"
                              id="submit_doc_lapangan"
                            >
                              <i class="ace-icon fa fa-check-square-o"></i
                              >Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <table
                      id="data-file-doc-lapangan"
                      class="table table-striped table-bordered nowrap table-responsive"
                    >
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Keterangan dan Catatan</th>
                          <th>Nama File</th>
                          <th>Tanggal Input</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    </table>

                    {% endif %}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-xs btn-danger"
                      data-dismiss="modal"
                      id="close_modal_file_lapangan"
                    >
                      <i class="ace-icon fa fa-close"></i>close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div id="modal_validasi" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <input id="idv2" hidden />
                    <form class="form-horizontal" role="form">
                      <div class="widget-box">
                        <div class="widget-header">
                          <label class="control-label">File Unggahan</label>
                        </div>
                        <div class="widget-body">
                          <div class="widget-main">
                            <div class="control-group" id="file-unggahan"></div>
                          </div>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main padding-4" style="padding: 10px;">
                            <select class="form-control" id="kategori" style="background-color:#fff;">
                              <option value="0">-Pilih Kategori-</option>
                              <option value="1">1. Air Limbah</option>
                              <option value="2">2. Udara</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" id="close_modal_validasi" data-dismiss="modal">close</button>
                    <button type="button" id="simpanaja" class="btn btn-sm btn-success" onclick="validasiV2()" ><i class="ace-icon fa fa-check"></i>verifikasi</button>
                  </div>
                </div>
              </div>
            </div>
            {% include "admin/menu/modal-edit-perusahaan.html" %}
          </div>
        </div>
        <!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
