<div style="display: none;" id="detail">
    <div class="row">
        <div class="col-sm-7">
            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" id="back-all-permohonan">
                <i class='bx bx-left-arrow-circle font-size-16' style="margin-top: 2px;"></i>
            </button>
        </div>
        <label class="col-sm-2" id="categoryFiltertext" style="margin: 8px 50px 0 0; width:120px;">Filter Kategori</label>
        <div class="col-sm-3">
            <select class="form-select" id="categoryFilter">
            <option value="">- Semua -</option>
            <option value="1">
                1. pembuangan air limbah ke badan air permukaan
            </option>
            <option value="2">
                2. pembuangan air limbah ke formasi tertentu
            </option>
            <option value="3">
                3. pemanfaatan air limbah untuk aplikasi ke tanah
            </option>
            <option value="4">
                4. pemanfaatan air limbah ke formasi tertentu
            </option>
            <option value="5">5. pembuangan emisi</option>
            </select>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table id="permohonan-detail" class="table table-striped table-bordered nowrap">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Alamat Kantor</th>
                    <th>No.Telp</th>
                    <th>Kategori</th>
                    <th>Jenis</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>