<div class="vertical-menu">

	<div data-simplebar class="h-100">

		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Menu</li>

				<li>
					<a href="dashboard" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						<span key="t-dashboards">Dashboard</span>
					</a>
				</li>
				{% if role == 0 %}
				<li>
					<a href="profile" class="waves-effect">
						<i class="bx bx-copy"></i>
						<span key="t-menu">Profile Perusahaan</span>
					</a>
				</li>
				{% endif %}
				{% if perusahaan == 1 %}
				<li class="menu-title" key="t-menu">Permohonan</li>

				<li>
					<a href="teknis" class="waves-effect">
						<i class="bx bx-file"></i>
						<span key="t-menu">Persetujuan Teknis</span>
					</a>
				</li>

				<li>
					<a href="operasi" class="waves-effect">
						<i class="bx bx-file"></i>
						<span key="t-menu">Surat Layak Operasi</span>
					</a>
				</li>
				
				<li>
					<a href="limbah" class="waves-effect">
						<i class="bx bx-file"></i>
						<span key="t-menu">Limbah B3</span>
					</a>
				</li>
				{% endif %}
				{% if role != 0 %}
				<li class="menu-title" key="t-apps">User</li>

				<li>
					<a href="users" class="waves-effect">
						<i class="bx bx-group"></i>
						<span key="t-chat">Manajemen User</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>